* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  
  header{
    animation: pulse 5s infinite;
    width: 100%;
    height: 100%;
  }
  @keyframes pulse {
    0% {
      background-color: #001F3F;
    }
    100% {
      background-color: #FF4136;
    }
  }
  html,
body {
  height: 100%;
}
  ul{
    float: right;
    list-style-type: none;
    margin: 25px;
  }
  
  ul li {
    display: inline-flex;
  }
  
  ul li a {
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
  }
  
  ul li a:hover{
    background-color: black;
    color: white;
  }
  
  ul li.active a{
    background-color: black;
    color: white;
  }
  
  .logo img{
    float: left;
    width: 150px;
    height: auto;
    margin: 15px;
  }
  
  .main {
    max-width: 1200px;
    margin: auto;
  }
  
  .title {
    position: absolute;
    top: 30%;
    Left: 50%;
    transform: translate(-50%,-50%);
  }

  .profile {
    position: absolute;
    top: 50%;
    Left: 35%;
    transform: translate(-50%,-50%);
  }

  .profile img{
    width: 50%;
    height: auto;
  }
  
  .title h1{
    color: white;
    font-size: 50px;
  }
  
  .title h2{
    position: absolute;
    left: 30%;
    color: white;
    font-size: 20px;
  }
  
  .icons {
    position: absolute;
    top: 90%;
    left: 19%;
    transform: translate(-50%,-50%);
  }
  .icons img {
    width: 50px;
    height: auto;
  }
  
  .desc {
    position: absolute;
    top: 60%;
    left: 50%;
  }
  .btn {
    text-decoration: none;
    color:white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
  }
  
  .btn:hover{
    background-color: black;
    color: white;
  }